@charset "utf-8";

@media screen and (min-width: 1025px) {

    /* ----------------------header---------------------- */
    header{
        position: relative;
        height: 130px;
    }
    header .inner{
        width: 100%;
        margin: 0 auto;
    }
    header h1{
        max-width: 1200px;
        padding: 17px 0 17px 8%;
        margin: 0 auto;
    }
    header h1 img{width: 120px;}

    header .inner > .lnb, .close{display: none;}

    /* gnb */
    .gnb{display: none;}
    .p_gnb{
        position: relative;
    }
    .p_gnb .inner{
        position: absolute;
        width: 100%;
    }
    .p_gnb .g_inner{
        display: flex;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    /* .p_gnb .g_inner > li{margin: 0 2.2%;} */
    .p_gnb .g_inner > li > a:hover{
        background-color: #3f3f3f;
        border-radius: 20px 20px 0 0;
    }
    .p_gnb .g_inner > li > a{
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        text-align: center;
        width: 110px;
        padding: 20px 27px 16px 27px;
        border-radius: 20px 20px 0 0;
        /* transition: .5s; */
    }

    /* sub */
    .sub{display: none;}

    .p_sub{
        /* display: none; */
        position: relative;
        top: 54px;
        transition: .5s;
        height: 0px;
        overflow: hidden;
    }
    .p_sub .inner{
        position: absolute;
        width: 100%;
        background-color: #3f3f3f;
    }
    .p_sub .inner > ul{
        display: flex;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 0 30px 0;
    }
    /* .p_sub .inner > ul li{margin: 0 2.2%;} */
    .p_sub .inner > ul > li a{
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        width: 110px;
        padding: 15px 27px;
    }
    .p_sub .inner > ul > li a:hover{
        text-decoration: underline;
        color: #16be57;
    }

    /* lnb */
    .p_lnb ul{
        position: absolute;
        top: 15px; left: 55%;
        padding: 17px 25px;
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
    .p_lnb ul li:hover{text-decoration: underline;}
    .p_lnb ul a{
        color: #fff;
        font-size: 12px;
        line-height: 23px;
    }
    .sh #search{
        border: none;
        border-radius: 3px;
        padding: 4px 4px 4px 10px;
        width: 160px;
        outline: none;
        transform: translateY(-8px);
    }
    .sh label{
        color: #fff;
        cursor: pointer;
    }

    /* ----------------------main---------------------- */
    .slide h2, .t_slide, .m_slide{display: none;}

    .btn{
        background-color: #166936;
        color: #fff;
        font-size: 14px;
        padding: 3px 15px 7px 15px;
        border-radius: 50px;
        border: 1px solid #166936;
        transition: .3s;
    }
    .btn span{
        margin-left: 30px;
        padding: 3px 0;
        transform: translateY(2px);
        font-size: 14px;
    }
    .btn:hover{color: #166936; background-color: #fff;}

    /* ----------------------footer---------------------- */
    footer #top_btn{bottom: 40px; right: 40px;}

    footer .lnb{
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        padding: 30px 0 10px 0;
        margin-bottom: 10px;
    }
    footer .lnb ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto 20px auto;
    }
    footer .lnb ul li{margin-right: 20px;}
    footer .lnb ul li:hover a{text-decoration: underline;}
    footer .lnb ul li::after{
        content: "";
        display: inline-block;
        width: 3px; height: 3px;
        background-color: rgba(255, 255, 255, .2);
        margin: 0 0 4px 20px;
    }
    footer .lnb ul li:nth-child(4) a{color: #16be57;}
    footer .lnb ul li:last-child::after{display: none;}
    footer .lnb ul li a{
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 25px;
        display: inline-block;
    }

    address{
        padding: 25px 15px;
        color: #818181;
        text-align: center;
        font-style: normal;
    }

    .icon{
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
    }
    .sns, .f_box{
        position: absolute;
    }
    .sns{
        left: 0;
        padding: 10px 20px 10px 18%;
    }
    .f_box{
        right: 0;
        padding: 13px 18% 13px 20px;
    }
    .sns ul, .f_box ul{
        display: flex;
    }
    .sns ul li, .f_box ul li{
        margin-right: 30px;
    }
    .sns ul li i{
        color: #fff;
        font-size: 28px;
        display: block;
    }
    .f_box ul li img{
        width: 70px;
        padding: 4px 10px;
        background-color: #fff;
        border-radius: 50px;
    }
    .f_box ul li select{
        border-radius: 50px;
        outline: none;
        padding: 2px 8px;
    }

    footer > p{
        color: #818181;
        text-align: center;
        padding: 80px 0 50px 0;
    }
    
}