@charset "utf-8";

@media screen and (min-width: 1025px) {

    /* header */
    header{
        position: relative;
        height: 130px;
    }
    header .inner{
        width: 1200px;
        margin: 0 auto;
    }
    header h1{
        width: 120px;
        padding: 17px 25px;
        margin-right: 40%;
    }
    header h1 img{width: 100%;}

    header .inner > .lnb, .close{display: none;}

    /* gnb */
    .gnb{
        position: relative;
    }
    .gnb .inner{
        position: absolute;
        width: 100%;
    }
    .gnb .g_inner{
        display: flex;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    .gnb .g_inner > li{margin: 0 2.2%;}
    .gnb .g_inner > li > a:hover{
        background-color: #3f3f3f;
        border-radius: 20px 20px 0 0;
    }
    .gnb .g_inner > li > a{
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        text-align: center;
        width: 110px;
        padding: 20px 10px;
        border-radius: 20px 20px 0 0;
        transition: .3s;
    }
    .gnb .g_inner > li span{display: none;}

    /* sub */
    .sub{display: none;}

    .p_sub{
        position: relative;
        top: 54px;
        display: none;
    }
    .p_sub .inner{
        position: absolute;
        width: 100%;
        background-color: #3f3f3f;
    }
    .p_sub .inner > ul{
        display: flex;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 0 30px 0;
    }
    .p_sub .inner > ul li{margin: 0 2.2%;}
    .p_sub .inner > ul > li a{
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        width: 110px;
        padding: 20px 10px;
    }
    .p_sub .inner > ul > li a:hover{
        text-decoration: underline;
        color: #16be57;
    }

    /* lnb */
    .p_lnb ul{
        position: absolute;
        top: 15px; left: 57%;
        padding: 17px 25px;
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
    .p_lnb ul li:hover{text-decoration: underline;}
    .p_lnb ul a{
        color: #fff;
        font-size: 12px;
        line-height: 23px;
    }
    .sh #search{
        border: none;
        border-radius: 3px;
        padding: 4px 4px 4px 10px;
        width: 160px;
        outline: none;
        transform: translateY(-8px);
    }
    .sh label{
        color: #fff;
        cursor: pointer;
    }

    /* footer */
    footer #top_btn{bottom: 40px; right: 40px;}
}