@charset "utf-8";

@media screen and (min-width: 1025px) {

    /* ----------------------header---------------------- */
    header{
        position: relative;
        height: 130px;
    }
    header .inner{
        width: 100%;
        margin: 0 auto;
    }
    header h1{
        max-width: 1200px;
        padding: 17px 0 17px 8%;
        margin: 0 auto;
    }
    header h1 img{width: 120px;}

    header .inner > .lnb, .close{display: none;}

    /* gnb */
    .gnb{display: none;}
    .p_gnb{
        position: relative;
    }
    .p_gnb .inner{
        position: absolute;
        width: 100%;
    }
    .p_gnb .g_inner{
        display: flex;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    /* .p_gnb .g_inner > li{margin: 0 2.2%;} */
    .p_gnb .g_inner > li > a:hover{
        background-color: #3f3f3f;
        border-radius: 20px 20px 0 0;
    }
    .p_gnb .g_inner > li > a{
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        text-align: center;
        width: 110px;
        padding: 20px 27px 16px 27px;
        border-radius: 20px 20px 0 0;
        /* transition: .5s; */
    }

    /* sub */
    .sub{display: none;}

    .p_sub{
        /* display: none; */
        position: relative;
        top: 54px;
        transition: .5s;
        height: 0px;
        overflow: hidden;
    }
    .p_sub .inner{
        position: absolute;
        width: 100%;
        background-color: #3f3f3f;
    }
    .p_sub .inner > ul{
        display: flex;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 0 30px 0;
    }
    /* .p_sub .inner > ul li{margin: 0 2.2%;} */
    .p_sub .inner > ul > li a{
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        width: 110px;
        padding: 15px 27px;
    }
    .p_sub .inner > ul > li a:hover{
        text-decoration: underline;
        color: #16be57;
    }

    /* lnb */
    .p_lnb ul{
        position: absolute;
        top: 15px; left: 55%;
        padding: 17px 25px;
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
    .p_lnb ul li:hover{text-decoration: underline;}
    .p_lnb ul a{
        color: #fff;
        font-size: 12px;
        line-height: 23px;
    }
    .sh #search{
        border: none;
        border-radius: 3px;
        padding: 4px 4px 4px 10px;
        width: 160px;
        outline: none;
        transform: translateY(-8px);
    }
    .sh label{
        color: #fff;
        cursor: pointer;
    }

    /* ----------------------main---------------------- */
    /* slide */
    .slide h2, .t_slide, .m_slide{display: none;}

    .swiper-slide .title{
        position: absolute;
        top: 20%; left: 22%;
        width: 20%;
    }
    .s01 .title{width: 25%; top: 30%;}
    .s02 .title{top: 26%;}
    .s01 .btn{bottom: 34%; left: 30%;}
    .s02 .btn{bottom: 28%; left: 28%;}
    .s03 .btn{bottom: 22%; left: 28%;}

    .btn{
        position: absolute;
        background-color: #166936;
        color: #fff;
        font-size: 14px;
        padding: 5px 20px 8px 20px;
        border-radius: 50px;
        border: 1px solid #166936;
        transition: .3s;
        z-index: 10;
    }
    .btn span{
        margin-left: 30px;
        padding: 3px 0;
        transform: translateY(2px);
        font-size: 14px;
    }
    .btn:hover{color: #166936; background-color: #fff;}

    .arrow{
        position: absolute;
        top: 46%; left: 50%;
        transform: translateX(-50%);
        width: 80% !important; height: 50px;
        z-index: 1;
    }
    .arrow > div{cursor: pointer;}
    .arrow span{font-size: 50px;}
    .arrow .swiper-btn-next{position: absolute; right: 0;}
    .arrow .swiper-btn-prev{position: absolute; left: 0;}
    .arrow div::after{display: none;}

    .swiper-pagination{margin-bottom: 10px;}
    .swiper-pagination-bullet{
        width: 14px !important; height: 14px !important;
        transition: .3s;
        margin: 0 6px !important;
    }
    .swiper-pagination-bullet-active{
        background-color: #166936 !important;
        width: 55px !important;
        border-radius: 50px !important;
    }

    /* notice */
    .notice{
        width: 100%;
        background-color: #3f3f3f;
        transform: translateY(-1px);
    }
    .notice h2{display: none;}
    .notice .inner{
        width: 54%; margin: 0 auto;
        display: flex;
    }
    .notice .inner h3{
        line-height: 62px;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        margin-right: 35px;
        padding-right: 25px;
        position: relative;
    }
    .notice .inner h3::after{
        content: "";
        width: 1px; height: 20px;
        background-color: #fff;
        display: inline-block;
        position: absolute;
        top: 20px; right: 0;
    }

    .nSwiper {width: 100%; height: 62px;}
    .nSwiper .swiper-slide {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
    }
    .nSwiper .swiper-slide a{
        color: #fff;
        font-size: 14px;
    }

    /* brand */
    .brand{
        width: 100%;
        position: relative;
    }
    .brand h2, .brand .t_img, .brand .m_img{display: none;}
    .brand .p_img{width: 100%;}

    .brand .inner{
        position: absolute;
        left: 50%; top: 8%;
        width: 590px;
        transform: translateX(-50%);
        z-index: 10;
    }
    .brand .t01{
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
        color: #166936;
        margin: 0 14% 20px 0;
        display: inline-block;
    }
    .brand .t01 .t_red{color: #D0112B;}
    .brand .t02{
        font-size: 16px;
        line-height: 20px;
    }
    .brand .t02 .t_grn{
        color: #166936;
        font-size: 18px;
        font-weight: 600;
    }

    .brand .btn{
        transform: translateY(30px);
        padding: 5px 20px 8px 20px;
    }

    /* banner */
    .banner{
        width: 55%;
        margin: 0 auto;
        padding: 25px 0;
    }
    .banner h2, .banner .t_img, .banner .m_img{display: none;}

    .banner img{width: 100%;}

    /* event */
    .event{width: 100%;}
    .event h2{
        font-size: 24px;
        text-transform: uppercase;
        text-align: center
    }
    .event ul{
        display: flex;
        justify-content: space-around;
        width: 55%;
        margin: 0 auto;
    }
    .event ul li{
        width: 32%;
    }
    .event ul li img{width: 100%;}
    .event .more{
        display: block;
        width: 55%;
        margin: 0 auto;
        text-align: right;
        font-size: 16px;
        padding: 10px 20px 10px 0;
    }
    .event .more span{
        font-size: 16px;
        transform: translateY(1px);
    }

    /* ----------------------footer---------------------- */
    footer #top_btn{bottom: 40px; right: 40px;}

    footer .lnb{
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        padding: 30px 0 10px 0;
        margin-bottom: 10px;
    }
    footer .lnb ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto 20px auto;
    }
    footer .lnb ul li{margin-right: 20px;}
    footer .lnb ul li:hover a{text-decoration: underline;}
    footer .lnb ul li::after{
        content: "";
        display: inline-block;
        width: 3px; height: 3px;
        background-color: rgba(255, 255, 255, .2);
        margin: 0 0 4px 20px;
    }
    footer .lnb ul li:nth-child(4) a{color: #16be57;}
    footer .lnb ul li:last-child::after{display: none;}
    footer .lnb ul li a{
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 25px;
        display: inline-block;
    }

    address{
        padding: 25px 15px;
        color: #818181;
        text-align: center;
        font-style: normal;
    }

    .icon{
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
    }
    .sns, .f_box{
        position: absolute;
    }
    .sns{
        left: 0;
        padding: 10px 20px 10px 18%;
    }
    .f_box{
        right: 0;
        padding: 13px 18% 13px 20px;
    }
    .sns ul, .f_box ul{
        display: flex;
    }
    .sns ul li, .f_box ul li{
        margin-right: 30px;
    }
    .sns ul li i{
        color: #fff;
        font-size: 28px;
        display: block;
    }
    .f_box ul li img{
        width: 70px;
        padding: 4px 10px;
        background-color: #fff;
        border-radius: 50px;
    }
    .f_box ul li select{
        border-radius: 50px;
        outline: none;
        padding: 2px 8px;
    }

    footer > p{
        color: #818181;
        text-align: center;
        padding: 80px 0 50px 0;
    }
    
}